h1{
	color: white;
}

#header{
	background-color: green;
	width: 95%;
	padding: 15px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	border-radius: 15px;
}

.blog-list li{
	display: inline;
	padding: 5px;
	color: white;
}

.container{
	position: relative;
	background-color: pink;
	padding: 20px;
	margin: 10px auto;
	width: 500px;
	height: 300px;
	border-width: 15px;
	border-style: dotted;

}

#box1{
	position: relative;
	float: right;
	/*position: absolute;*/
}

#box2{
	position: absolute; 
	/*position: relative; */
	top: 30px;
}

#cigar{
	height: 100px;
	width: 150px;
}

#cereal{
	height: 100px;
	width: 150px;
}

.test{
	right: 0px;
	position: relative;
	top-margin: 30px;
}

a{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:link{
	text-decoration: none;
}

/* Standard syntax */
@keyframes square {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#animation{
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-name: square;
	animation-duration: 4s;
	animation-iteration-count: 3;
}

#rotation{
	margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;
	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
	

/* The animation code */
/*@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
} */

/* The element to apply the animation to */
/*div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}  */